

/*  IMPORT  */

/* header h1 */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*  header h3 */

/*  header h4 */

/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}





/*  CSSZIN  */

body {
    background-color: #ffebb7c2;
    max-width: 100vh;
    max-height: 100vh;
}

header {
    height: 20vh; 
}

header h1 {
    align-items: center;
    color: #490a0a92;
    display: flex;
    font-family: 'Playfair Display SC', serif;
    font-size: 3vh;
    font-weight: 700;
    justify-content: center;
    padding-top: 6vh;
}
header h3 {
    align-items: center;
    display: flex;
    font-size: 1.5vh;
    font-style: italic;
    justify-content: flex-end;
    padding: 3vh 3vh 0 0;
}
header h4 {
    align-items: center;
    color: #000000;
    display: flex;
    justify-content: center;
}

main {
    align-items: center;
    display: flex;
    font-size: 4vh;
    height: 60vh;
    justify-content: center;
}

.players,
.players1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;

}

.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.minus, .num, .plus {
    margin-bottom: 5vh;
}

.minus, .minus1, .plus, .plus1 {
    cursor: pointer;
    padding: 3vh 2vh 2vh 2vh;
}

/*  BUTTONS  */

footer {
    align-items: flex-start;
    height: 20vh;
    display: flex;
    justify-content: center;
}

#start, #show, #showSecret {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 3vh;
}

/* jS Classes */

#transition {    
    align-items: center;
    display: flex;
    font-size: 3vh;
    font-weight: 600;
    justify-content: center;
}

.jogador {
    align-items: center;
    display: flex;
    font-size: 7vh;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 4vh;
}

.cenario {
    align-items: center;
    display: flex;
    font-size: 3vh;
    justify-content: center;
    padding-bottom: 6vh;
}

.role {
    align-items: center;
    display: flex;
    font-size: 3vh;
    justify-content: center;
    padding-bottom: 12vh;
}

.legend {
    align-items: center;
    display: flex;
    font-size: 6vh;
    justify-content: center;
    padding-bottom: 1vh;
}

#ast {
    align-items: center;
    display: flex;
    font-size: 5vh;
    font-weight: 600;
    justify-content: center;
    padding: 1vh 2vh 0 2vh;
}


/* WEBKIT */

body,
body::selection {  
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}